@page "/"
<div class="jumbotron">
    <p>Welcome to my note website. This website's main purpose, is to store notes from my study.</p>
    <p>The notes are written in danish and are written for my own sake, therefore this website may come off as useless to some.</p>
    <p>Together with writing notes, this website is also used to develop skills for web development, a big interest of mine.</p>
    <p>I am always looking for new ways to challenge myself, and if you would like to know more about me, or my recent projects, you are very welcome to visist <a href="https://nillertron.com">my main site</a></p>
    <p>Have a great day :)</p>
</div>
